.App {
  padding-right: 20%;
  padding-left: 20%;
  background-color: rgb(138, 179, 26);
}

.Header {
  height: 80px;
  margin: 10px 0px;
  text-align: center;

}

.Title {
  vertical-align: middle;
  background-color: blue;
}

.Main {
  text-align: center;
  border: solid 2px;
  border-color: gray;
  background-color: white;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



