.App {
}

.Header {
  background-color: rgb(229, 241, 193);
  height: 80px;
  text-align: center;
  position: relative;
}

.Title {
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.Main {
  background-color: rgb(226, 225, 225);
  text-align: center;
  border: solid 2px;
  border-color: gray;
}

.ContentsArea {
  width: 700px;
  display: inline-block;
  background-color: white;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  float: left;
  position: relative;
  left: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



